{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
<div id="background-cover" class="no-gutters">
     <div class="row cover-text">
        <div class="col-12">
            <section class="callout jumbotron text-center">
                <h1>Make your doctors appointment easier!</h1>
                <p class="lead">Register now to keep organised!</p>
                <p><a href="/register"><button class="btn btn-lg btn-primary">Sign Up!</button></a></p>
            </section>
            </div>
        </div>
</div>
{% endblock %}
